html {
    font-size: 14px;
    height:100%;
    margin:0;
}

body {
    background-image: linear-gradient(to left top, #ffff87, #fffa8b, #fff590, #fff094, #feeb99, #f3ed9e, #e8eea4, #deefab, #c8f5ba, #b3face, #a2fde3, #96fff9);
    height: 100%;
    margin: 0;    
}

button{

    margin:10px;
    width: 200px;
}

button:hover{

    background-color: cadetblue
}


.bg-sky {
    
    background: repeating-linear-gradient(90deg, skyblue, lightblue, skyblue 66%);
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}



.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}





html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

header {
    height: 80px;
}

footer {
    height: 50px;
}

/*весь робочий простір сторінки*/
.mainspace {
    display: flex;
    flex-direction: column;
    height: calc(100% - 130px);
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
}

/*контейнер з заголовком*/
.titlebox {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

/*контейнери з кнопками*/
.maincontainer {
    display: flex; 
    gap: 10px; 
    align-items: flex-start;    
    min-width: 800px;    
    border: 0px solid grey;
}


/* контейнери */
.controlcontainer {
    display: inline-block;
    border: 0px solid grey;
    flex: 1 2 100px;
}

.selectcontainer {
    width: 50px;
    border-width: 0px;
    display: flex;
    justify-content: center;
}

.infocontainer {
    background-color: buttonface;
    padding: 10px;
    margin: 10px;
    border-width: 2px;
}

select {
    margin: 10px;
    width: 100px;
    color: ButtonText;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    padding-block: 1px;
    padding-inline: 6px;
    border-width: 2px;    
}


@media (max-width: 768px) {

    .maincontainer {
        gap: 5px;
        min-width: 400px;
    }

    select {
        width:50px
    }
}


/*  page 2 */

#pianoroll {
    position: relative; 
    width:800px; 
    height:200px; 
    font-size: 0;
    padding-left: 10px;
    
}

.blackpianobutton {
    position: absolute;
    width: 40px;
    height: 110px;
    background: linear-gradient(black, darkslategrey);
    margin: 0;
}

.cis1 {   
    top: 0px; /* Відступ зверху */
    left: 35px; /* Відступ зліва */    
}
.dis1 {    
    top: 0px; 
    left: 90px; 
}

.fis1 {    
    top: 0px; 
    left: 180px; 
}

.gis1 {    
    top: 0px; 
    left: 235px; 
}

.b1 {
    top: 0px;
    left: 290px;
}
.cis2 {
    top: 0px; /* Відступ зверху */
    left: 385px; /* Відступ зліва */
}

.dis2 {
    top: 0px;
    left: 440px;
}

.fis2 {
    top: 0px;
    left: 530px;
}

.gis2 {
    top: 0px;
    left: 585px;
}

.b2 {
    top: 0px;
    left: 640px;
}

.whitepianobutton{
    height: 200px;
    width: 50px;
    margin: 0;
    gap: 0px;

}