@page
@model Pianomusic.Pages.Page2Model
@{
}

<div class="text-center">
    <h1 class="display-4">Hello world!</h1>
    <p>This is page 2.</p>
</div>

<div class="maincontainer">   
    <div class="controlcontainer">
        <form method="post" id="pianoroll">
            <button type="submit" asp-route-key="c" class="whitepianobutton">C1</button>
            <button type="submit" asp-route-key="cis" class="blackpianobutton cis1">Cis1</button>
            <button type="submit" asp-route-key="d" class="whitepianobutton">D1</button>
            <button type="submit" asp-route-key="dis" class="blackpianobutton dis1">Dis1</button>
            <button type="submit" asp-route-key="e" class="whitepianobutton">E1</button>
            <button type="submit" asp-route-key="f" class="whitepianobutton">F1</button>
            <button type="submit" asp-route-key="fis" class="blackpianobutton fis1">Fis1</button>
            <button type="submit" asp-route-key="g" class="whitepianobutton">G1</button>
            <button type="submit" asp-route-key="gis" class="blackpianobutton gis1">Gis1</button>
            <button type="submit" asp-route-key="a" class="whitepianobutton">A1</button>
            <button type="submit" asp-route-key="b" class="blackpianobutton b1">B1</button>
            <button type="submit" asp-route-key="h" class="whitepianobutton">H1</button>
            <button type="submit" asp-route-key="c'" class="whitepianobutton">C2</button>
            <button type="submit" asp-route-key="cis'" class="blackpianobutton cis2">Cis2</button>
            <button type="submit" asp-route-key="d'" class="whitepianobutton">D2</button>
            <button type="submit" asp-route-key="dis'" class="blackpianobutton dis2">Dis2</button>
            <button type="submit" asp-route-key="e'" class="whitepianobutton">E2</button>
            <button type="submit" asp-route-key="f'" class="whitepianobutton">F2</button>
            <button type="submit" asp-route-key="fis'" class="blackpianobutton fis2">Fis2</button>
            <button type="submit" asp-route-key="g'" class="whitepianobutton">G2</button>
            <button type="submit" asp-route-key="gis'" class="blackpianobutton gis2">Gis2</button>
            <button type="submit" asp-route-key="a'" class="whitepianobutton">A2</button>
            <button type="submit" asp-route-key="b'" class="blackpianobutton b2">B2</button>
            <button type="submit" asp-route-key="h'" class="whitepianobutton">H2</button>
            <button type="submit" asp-route-key="c''" class="whitepianobutton">C3</button>
        </form>

    </div>
    <div class="controlcontainer infocontainer">

        <p>@Model.msg</p>
        @if (ViewData["AudioFile"] != null)
        {
            <p>@ViewData["AudioFile"]</p>
            <audio controls autoplay style="display: none">
                <source src="@ViewData["AudioFile"]" type="audio/mpeg" />
                Your browser does not support the audio element.
            </audio>
        }
        else
        {
            <p>File is not ready</p>
        }
    </div>
    
</div>